bin
obj
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.synctex.gz
*.suo
/.project
CMakeFiles
*.userprefs
.idea
.Rhistory
tests/graphical/*
tests/integrate/*
tests/reuters/*
tests/wiki/*
tests/bench/*
tests/*/*
src/src_lda